<!DOCTYPE html>
<html>
<head>
  <title>
    GNUKhata
  </title>

  <style>
  #ticker {
    display: none;
  }
  .login-box{
    background-color: rgba(220, 225,225,0.4);
  }

  </style>

</head>
<body>
  <div class="container-fluid" id="ticker">
    <ul class="shadow" style="list-style-type: none; margin-top: 30px; margin-bottom: -30px; padding: 0; overflow: hidden; background-color: rgb(248,248,248); height: 20px; border-radius: 5px;">
      <li style="float: left;"><a data-toggle="tab"; style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="orgdata" href=""></a></li>
      <li style="float: right;"><a style="margin-right: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="yeardata" href=""></a></li>
      <ul>
      </div>
  <div class="container" id="forgotpassworddiv">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 pull-right">
      <div class="alert alert-danger" id="login_username-blank-alert" aria-live="rude" role="alert" hidden>

        Please enter username!
      </div>
      <div class="alert alert-danger" id="password-blank-alert" aria-live="rude" role="alert" hidden>

        Please enter password!
      </div>
      <div class="alert alert-danger" id="login-blank-alert" aria-live="rude" role="alert" hidden>

        Username or Password is incorrect!
      </div>
      <div class="panel" >
        <div class="panel-heading">
          <div class="panel-title">Sign In</div>

        </div>
        <div style="padding-top:30px" class="panel-body" >
          <form id="loginform" action="userlogin" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="login_username"><u>U</u>sername :</label>
              <input style="border-radius: 4px" id="login_username" type="text" class="form-control col-xs-12" name="username" value="" accesskey="u"></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="userpassword"><u>P</u>assword :</label>
              <input id="userpassword" style="border-radius: 4px" type="password" class="form-control col-xs-12" name="userpassword" accesskey="p"></input>
            </div>
            <div style="margin-bottom: 5px" class="input-group col-xs-12">
              <a id="forgotpwdlink" href="" aria-label="Forgot Password Link" accesskey="f"><u>F</u>orgot Password?</a>
            </div>
            <input id="orgcode"  name="orgcode" value="{{code}}" class="form-control" style="display: none;"></input>
            <input id="flag"  name="flag" value="{{flag}}" class="form-control" style="display:none;"></input>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="login" type="submit" class="btn btn-success " accesskey="l"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 5px;"></span><u>L</u>ogin</button>
                <button id="changeorg" class="btn btn-warning"><span class="glyphicon glyphicon-refresh" style="margin-right: 5px;" accesskey="c"></span><u>C</u>hange Organisation</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>


  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/login.js')}}"></script>
</body>

</html>
